header {
  height: 80px;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 0, 109, 0.5)), to(rgba(27, 0, 105, 0.5)));
  background: linear-gradient(180deg, rgba(15, 0, 109, 0.5) 0%, rgba(27, 0, 105, 0.5) 100%);
  background-blend-mode: darken;
  -webkit-box-shadow: 0px 5px 53px -2px #13004a;
          box-shadow: 0px 5px 53px -2px #13004a;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 992px) {
  header {
    height: 130px;
  }
}

@media (max-width: 1250px) {
  header {
    padding: 0px 3rem;
  }
}

@media (max-width: 350px) {
  header {
    padding: 0px 1rem;
  }
}

header.active_header {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f006d), to(#1b0069));
  background: linear-gradient(180deg, #0f006d 0%, #1b0069 100%);
  z-index: 200;
}

header .logo {
  width: 108px;
  height: 108px;
  display: block;
}

@media (max-width: 1250px) {
  header .logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 992px) {
  header .logo {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 350px) {
  header .logo {
    margin-left: 0px !important;
  }
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .nav_action .toggle_btn_wrapper {
  margin-left: 1.9rem;
}

@media (min-width: 992px) {
  header .nav_action .toggle_btn_wrapper {
    margin-left: 7.5rem;
  }
}

header #header_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 170px;
  background: #3b46a4;
  -webkit-box-shadow: 0px 20px 53px -2px #13004a;
          box-shadow: 0px 20px 53px -2px #13004a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header_menu .menu_list {
  color: #fff;
}

header #header_menu .menu_list a {
  font-size: 1.6rem;
  display: inline-block;
  color: #fff;
  font-family: "Inter", sans-serif;
  display: inline-block;
  padding: 5px;
  position: relative;
}

@media (min-width: 992px) {
  header #header_menu .menu_list a {
    font-size: 2.1rem;
  }
}

@media (min-width: 1400px) {
  header #header_menu .menu_list a {
    margin-right: 4rem;
  }
}

header #header_menu .menu_list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header #header_menu .menu_list a:hover::after, header #header_menu .menu_list a.active_action::after {
  background: #55dfff;
}

header .nav_action_link_wrapper a {
  position: relative;
  padding: 5px;
}

header .nav_action_link_wrapper a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .nav_action_link_wrapper a:hover::after, header .nav_action_link_wrapper a.active_link::after {
  background: #fff;
}

header .user_token_wrapper {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  header .user_token_wrapper {
    margin-right: 6.6rem;
    font-size: 1.4rem;
  }
}

header .mobile_nft_menu {
  height: 71px;
  background: #3b46a4;
  -webkit-box-shadow: 0px 20px 53px -2px #13004a;
          box-shadow: 0px 20px 53px -2px #13004a;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .nav_action_link_wrapper_mobile a {
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  header .nav_action_link_wrapper_mobile a {
    font-size: 1.4rem;
  }
}

.nav_sale_content * {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
}

.nav_sale_content strong {
  font-size: 1.4rem;
}

.nav_sale_content .counter_item {
  font-size: 1.1rem;
}

.nav_sale_content .counter_item .time {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #00b4e9;
  width: 48px;
  height: 49px;
  border-radius: 7px;
  font-size: 2.6rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 5px;
}
/*# sourceMappingURL=Header.css.map */