#NftInvestory {
  background: url("../../Static/img/investory_bg.png") center top/cover no-repeat;
  min-height: 100vh;
  width: 100%;
  border: 0;
}

#NftInvestory #nftAside {
  width: 260px;
  background: url("../../Static/img/aside_bg.png") center/100% 100% no-repeat;
  position: fixed;
  height: 100%;
  top: 130px;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 8.6rem;
  padding-bottom: 5rem;
}

#NftInvestory #nftAside a {
  font-size: 2.1rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-bottom: 4rem;
  display: inline-block;
  position: relative;
}

#NftInvestory #nftAside a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#NftInvestory #nftAside a:hover::after, #NftInvestory #nftAside a.active_action::after {
  background: #55dfff;
}

#NftInvestory #nft_menu {
  width: calc(100% - 260px);
  padding: 8rem;
  height: 100%;
  margin-left: 260px;
  margin-top: 130px;
}

@media (max-width: 1130px) {
  #NftInvestory #nft_menu {
    width: calc(100% - 140px);
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  #NftInvestory #nft_menu {
    width: calc(100% - 0px);
    margin-left: 0px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#NftInvestory #nft_menu .heroes_list_item {
  background: url("../../Static/img/heroes_bg.png") center/100% 100% no-repeat;
  height: 150px;
}

@media (max-width: 991px) {
  #NftInvestory #nft_menu .heroes_list_item {
    height: 95px;
  }
}

#NftInvestory #nft_menu .heroes_list_item .avatar {
  height: 120px;
}

@media (max-width: 1000px) {
  #NftInvestory #nft_menu .heroes_list_item .avatar {
    height: 80px;
  }
}

@media (max-width: 991px) {
  #NftInvestory #nft_menu .heroes_list_item .avatar {
    height: 60px;
  }
}

#NftInvestory #nft_menu .heroes_list_item .user_heroes {
  margin-right: 15rem;
}

@media (max-width: 1300px) {
  #NftInvestory #nft_menu .heroes_list_item .user_heroes {
    margin-right: 2rem;
  }
}

#NftInvestory #nft_menu .heroes_list_item .user_id {
  font-size: 3.2rem;
}

@media (max-width: 991px) {
  #NftInvestory #nft_menu .heroes_list_item .user_id {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  #NftInvestory #nft_menu .heroes_list_item .user_id {
    font-size: 1.5rem;
  }
}

#NftInvestory #nft_menu .heroes_list_item .heroes_img {
  height: 20px;
}

#NftInvestory #nft_menu .heroes_list_item .heroes_counter {
  font-size: 3.1rem;
}

#NftInvestory #nft_menu .heroes_list_item .heroes_item {
  margin-right: 5rem;
}

@media (max-width: 1300px) {
  #NftInvestory #nft_menu .heroes_list_item .heroes_item {
    margin-right: 2rem;
  }
}

@media (max-width: 991px) {
  #NftInvestory #nft_menu .heroes_list_item .heroes_item {
    margin-right: 0.7rem;
  }
}

@media (max-width: 991px) {
  #NftInvestory #nft_menu .heroes_list_item .heroes_item_img {
    height: 2.5rem !important;
  }
}
/*# sourceMappingURL=NftInvestory.css.map */