#PrivateSale {
  width: 68.5rem;
  height: 68.5rem;
  border-radius: 100%;
  background: #000;
  margin-top: 24rem;
  margin-left: auto;
  margin-right: auto;
  background: url("../../Static/img/circle.png") center/contain no-repeat;
  z-index: 2;
  position: relative;
  text-align: center;
  padding: 10rem;
  h2 {
    font-size: 5.3rem;
    color: #4bc9ef;
    font-weight: 700;
    text-transform: uppercase;
  }

  .private_sale_counter {
    .counter_item {
      position: relative;
    }
    color: #fff;
    .time {
      font-size: 3.9rem;
      font-family: "Inter", sans-serif;
      font-weight: 700;
    }
    .time_name {
      position: absolute;
      font-size: 1.1rem;
      font-weight: 700;
      font-family: "Inter", sans-serif;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .counter_input_wrapper {
    background: rgba(34, 49, 101, 0.69);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    * {
      font-family: "Inter", sans-serif;
      font-weight: 700;
    }
    input {
      background: transparent;
      width: 100%;
      padding: 0.7rem 2.5rem;
      border: 0;
      outline: 0;
      color: #fff;
    }
    button {
      color: #03b4e8;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
  .helper {
    *{
        font-family: "Inter", sans-serif;
    }
    small {
      color: #fff;
      font-size: 1.4rem;
    }
    .btn_frame{
        font-size: 2.1rem;
        padding: 2.5rem 3rem;
        color: #20007A;
        text-transform: uppercase;
    }
  }
}
