// ....................Global Styles ............................
* {
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
}
:root {
  // font size for responsive
  font-size: 10px;
  // @media (max-width: 992px){
  //   font-size: 8px;
  // }
}

html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: url("./Static/img/background.png") center top no-repeat;
  @media (max-width: 1199px) {
    background-size: cover;
  }
  @media (max-width: 767px) {
    //mobile_bg.png
    background: url("./Static/img/mobile_bg.png") center top / 100% 100%
      no-repeat;
  }
}
main {
  margin: 0;
  padding: 0;
}
button {
  border: 0;
  outline: 0;
  background: transparent;
}
.text_5d {
  color: #55dfff !important;
}
.text_4a {
  color: #13004a;
}
.text_69 {
  color: #1b0069;
}
.text_7a {
  color: #20007a;
}
.text_f1 {
  color: #5dcff1;
}
.text_6d {
  color: #0f006d;
}
// ....................Global Styles ............................End
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Inter', sans-serif;

// responsive  breakpoints 992px
// .................Section Wrapper .............
.section_wrapper {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1250px) {
    padding: 0px 3rem;
  }
  @media (max-width: 600px) {
    padding: 0px 1rem;
  }
}

#Section1 {
  padding-top: 135px;
  @media (max-width: 991px) {
    padding-top: 100px;
  }
}
// .................Section Wrapper .............End
// font style

.family_barlow {
  font-family: "Barlow Condensed", sans-serif;
}
.family_inter {
  font-family: "Inter", sans-serif;
}
.font_36 {
  font-size: 1.8rem;
  @media (min-width: 992px) {
    font-size: 3.6rem;
  }
}

// btn style
.btn_frame {
  background: url("./Static/img/btn_frame.png") center/ 100% 100% no-repeat;
  padding: 6px 25px;
  font-weight: 600;
  display: inline-block;
  @media (max-width: 400px) {
    padding: 4px 18px;
  }
  &.section_frame_btn {
    text-align: center;
    text-transform: uppercase;
    color: #0f006d;
    font-size: 1.8rem;
    @media (min-width: 992px) {
      font-size: 3.5rem;
    }
  }
}

// heading .......
h1 {
  font-size: 6.1rem;
  @media (min-width: 992px) {
    font-size: 11.2rem;
  }
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-weight: 800;
}
h2 {
  font-weight: 800;
  color: #fff;
  font-size: 6.1rem;
  @media (min-width: 992px) {
    font-size: 8.7rem;
  }
}
h3 {
  font-size: 5.7rem;
  font-weight: 800;
}
h4 {
  font-size: 2.1rem;
  @media (min-width: 992px) {
    font-size: 3.2rem;
  }
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #fff;
}
h5 {
  font-size: 2.1rem;
  font-weight: 300 !important;
}
.section_pera {
  font-size: 2.1rem;
  @media (max-width: 991px) {
    font-size: 1.8rem;
  }
}

.font-weight-bold {
  font-weight: 700;
}
