#Homepage #Section1 {
  min-height: 1224px;
  background: url("../../Static/img/ArtWeb1.png") 40% 0px/cover no-repeat;
}

@media (min-width: 992px) {
  #Homepage #Section1 {
    background: url("../../Static/img/ArtWeb1.png") center 0px/contain no-repeat;
  }
}

#Homepage #AboutSection {
  position: relative;
}

@media (max-width: 1200px) {
  #Homepage #AboutSection .project_desk_wrapper {
    height: 80rem;
  }
}

#Homepage #AboutSection .about_game_desc {
  margin-top: 35rem;
}

@media (max-width: 991px) {
  #Homepage #AboutSection .about_game_desc {
    margin-top: 10rem;
    height: 38rem;
  }
}

@media (max-width: 991px) {
  #Homepage #GameplaySection {
    margin-top: -10rem !important;
  }
}

#Homepage #GameplaySection .slide_img {
  pointer-events: none;
}

@media (max-width: 991px) {
  #Homepage #GameplaySection .slide_img {
    margin-top: -5rem;
    height: 558px;
    width: auto !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 400px) {
  #Homepage #GameplaySection .slide_img {
    width: 100% !important;
  }
}

#Homepage #GameplaySection .section_content {
  margin-top: 10rem;
}

@media (max-width: 991px) {
  #Homepage #GameplaySection .section_content {
    margin-top: -5rem !important;
  }
  #Homepage #GameplaySection .section_content * {
    color: #fff !important;
  }
}

#Homepage #GameplaySection .swiper-button-prev {
  left: calc(100% - 430px);
  top: 85%;
  width: 65px;
  height: 82px;
}

@media (max-width: 991px) {
  #Homepage #GameplaySection .swiper-button-prev {
    width: 38px;
    height: 48px;
    left: calc(50% - 150px);
    top: 93%;
  }
}

#Homepage #GameplaySection .swiper-button-prev:after {
  content: "";
  background: url("../../Static/img/arow_light.png") center/100% 100% no-repeat;
  width: 100%;
  height: 100%;
}

#Homepage #GameplaySection .swiper-button-next {
  left: calc(100% - 100px);
  top: 85%;
  width: 65px;
  height: 82px;
}

@media (max-width: 991px) {
  #Homepage #GameplaySection .swiper-button-next {
    width: 38px;
    height: 48px;
    left: calc(50% + 80px);
    top: 93%;
  }
}

#Homepage #GameplaySection .swiper-button-next:after {
  content: "";
  background: url("../../Static/img/arow_right.png") center/100% 100% no-repeat;
  width: 100%;
  height: 100%;
}

#Homepage #GameplaySection .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  left: calc(100% - 335px);
  background: #0f006d;
  bottom: 12% !important;
}

@media (max-width: 991px) {
  #Homepage #GameplaySection .swiper-pagination-bullets {
    display: none;
  }
}

#Homepage #GameplaySection .swiper-pagination-bullets .swiper-pagination-bullet {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0px;
  height: 3px;
}

#Homepage #GameplaySection .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #03b4e8;
}

#Homepage #nfts {
  padding-top: 400px;
  position: relative;
}

#Homepage #nfts .section_title {
  margin-top: -100px !important;
}

@media (max-width: 1300px) {
  #Homepage #nfts .section_title {
    margin-top: 0px !important;
  }
}

@media (max-width: 1199px) {
  #Homepage #nfts .section_title {
    margin-top: -304px !important;
  }
}

@media (max-width: 991px) {
  #Homepage #nfts .section_title {
    margin-top: -100px !important;
  }
}

#Homepage #nfts .nfts_img {
  position: absolute;
  top: 1%;
}

@media (max-width: 1300px) {
  #Homepage #nfts .nfts_img {
    top: 53%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  #Homepage #nfts .nfts_img {
    top: 0%;
  }
}

@media (max-width: 991px) {
  #Homepage #nfts .nfts_img {
    top: 78%;
  }
}

#Homepage #HowToEarn {
  margin-top: 800px;
  margin-bottom: 50px;
}

#Homepage #HowToEarn .circle_header {
  width: 342px;
  height: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: url("../../Static/img/circle.png") center/100% 100% no-repeat;
  margin-bottom: 4.8rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 767px) {
  #Homepage #HowToEarn .circle_header {
    width: 215px;
    height: 215px;
    margin-bottom: 2rem;
  }
  #Homepage #HowToEarn .circle_header h3 {
    font-size: 2.7rem;
  }
}

#Homepage #TokenomicsSection .section_list_box {
  height: 813px;
  background: url("../../Static/img/token_frame.png") center/100% 100% no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #Homepage #TokenomicsSection .section_list_box {
    background: #55dfff;
  }
}

#Homepage #TokenomicsSection .section_list_box .token_list {
  position: relative;
  z-index: 10;
}

#Homepage #TokenomicsSection .section_list_box .token_list .token_circle {
  position: relative;
  text-align: center;
  margin-bottom: 2.6rem;
}

@media (max-width: 767px) {
  #Homepage #TokenomicsSection .section_list_box .token_list .token_circle {
    margin-bottom: 1.5rem;
  }
  #Homepage #TokenomicsSection .section_list_box .token_list .token_circle svg {
    width: 120px;
    height: 120px;
  }
}

#Homepage #TokenomicsSection .section_list_box .token_list .token_circle .token_name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

@media (max-width: 767px) {
  #Homepage #TokenomicsSection .section_list_box .token_list .token_circle .token_name {
    font-size: 2.7rem;
  }
}

@media (max-width: 767px) {
  #Homepage #TokenomicsSection .section_list_box .token_list .token_description h4 {
    font-size: 2.7rem !important;
  }
}

#Homepage #Roadmap {
  margin-top: 50px !important;
}

.section_img_outside {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right center;
     object-position: right center;
  pointer-events: none;
}

@media (max-width: 991px) {
  .section_img_outside {
    height: 40rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: 10%;
  }
}

.section_img_outside.img_launchpad {
  height: 80rem;
  bottom: -60%;
}

@media (max-width: 992px) {
  .section_img_outside.img_launchpad {
    height: 40rem;
    right: 0%;
  }
}

.section_img_outside.token_img {
  left: 0px;
  right: auto;
  top: 0%;
  bottom: auto;
  height: 110%;
}
/*# sourceMappingURL=Homepage.css.map */